.select-label {
  color: #3f5ca8;
  font-weight: 500;
  font-size: 0.9rem;
  padding-right: 5px;
}

.select-main {
  font-size: 0.9rem;
  color: #3f5ca8;
  border-radius: 0.4rem;
  border: #3f5ca8 solid 1px;
  padding: 2px 5px;
  background-color: transparent;
  width: fit-content;
  min-width: 5rem;
}

.select-main:focus {
  outline: 0;
}

.option {
  border: #3f5ca8 solid 2px;
}

.option:focus {
  border: #3f5ca8 solid 2px;
}

