.addAccount-container.edit-container {
    background-image: url("../../assets/background_modalbox.png");
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* max-height: 65%;
    min-height: 450px; */
    border-radius: 20px;
    width: 50%;
    height: fit-content;
    z-index: 10;
    min-width: 699px;
}

.edit-container .formAdd {
    width: 95%;
    margin: 0 auto;
}

.edit-container h2 {
    padding-top: 20px;
    text-align: center;
    color: #0c1230;
  }
  
  .edit-container h3 {
    display: flex;
    font-size: 20px;
    color: #0c1230;
    padding: 7px;
    padding-left: 3rem;
  }
   
  .edit-container .addAccount-container {
    gap: 40px;
    width: 100%;
    height: 100%;
    /* display: flex;
    z-index: -1; */
  }
  

  
  .edit-container .form-block {
    width: 100%;
    padding-top: 15px;
    padding-left: 0px;
    display: flex;
    justify-content: center;
  }
  
  .edit-container .label-text {
    width: 150px;
    font-size: 1rem;
    text-align: left;
  }
  
  .edit-container .box-type {
    margin-bottom: 10px;
    border-bottom: 1px solid #3f5ca8;
    padding-left: 10px;
    background: #e8f0fe;
    outline: none;
    width: 175px;
    height: 32px;
  }
  
  .edit-container .account-submit {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 20%;
    padding-top: 20px;
    gap: 5%;
  }
  
  .edit-container .account-submit input {
    border: 2px solid #624de3;
    background-color: #624de3;
    width: 7.25rem;
    border-radius: 20px;
    color: #e8e4ff;
    font-size: 0.9rem;
    padding: 7px 10px 8px 10px;
    font-weight: 500;
    margin-bottom: 20px;
  }
  
  .edit-container .account-submit input:hover {
    outline: none;
    background-color: #d4cefe;
    color: #624de3;
    cursor: pointer;
  }
  
  .edit-container .account-submit input[type="button"] {
    color: rgb(255, 232, 232);
    background-color: rgb(214, 0, 0);
    border: 2px solid rgb(214, 0, 0);
  }
  
  .edit-container .account-submit input[type="button"]:hover {
    background-color: rgb(255, 196, 196);
    color: rgb(214, 0, 0);
  }

