.modal-main {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.25);
}

.modal-car-info {
    background-image: url("../../assets/background_modalbox.png");
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    /* height: 60%; */
    /* max-height: 65%;
    min-height: 450px; */
    border-radius: 20px;
    width: 40%;
}

.modalbox-container {
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    text-align: center;
    width: 100%;
    /* height: 90%; */
}

.modalbox-title {
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    padding-top: 30px;
}

.modalbox-info {
    /* position: fixed; */
    width: 100%;
    padding: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    /* overflow: auto; */
    /* top: 50%;
    left: 50%; */
    /* transform: translate(-50%, -50%) */
}

.modalbox-info .modalbox-block {
    border-radius: 8px;
    padding: 30px;
    background-color: aliceblue;
    width: 100%;
}

.modalbox-info .modalbox-block h2{
    font-size: 25px;   
}

.modalbox-block table {
    border: none;
}

.modalbox-block table th{
    width: 50% ;
    height: 40px;
    max-width: none;
    /* padding: 5px 0px; */
}

.modalbox-block table td{
    border: none;
    padding-left: 20px;
    border-spacing: 2px;
}

.modalbox-block table td, .modalbox-block table th {
    text-align: left;
    border: none;
    padding-left: 20px;
    border-spacing: 2px;
}

.close_modal_wrap {
    position: absolute;
    top: 0;
    right: 0;
}

.close_modal_wrap svg {
    margin: 10px;
    cursor: pointer;
    color: #0c1230;
}

@media screen and (max-width: 1200px) {
    .modal-car-info {
        width: 50%;
    }
}

@media screen and (max-width: 922px) {
    .modal-car-info {
        width: 65%;
    }
}

@media screen and (max-width: 768px) {
    .modal-car-info {
        width: 80%;
    }
}

@media screen and (max-width: 576px) {
    .modal-car-info {
        width: 100%;
    }
}